# Prepare data from the Yamila-like simulations

The files called `final_*.csv` come from `final_results.csv` files obtained when applying `pipeline.sh` (see main `README.md`) to the simulation files (in `data_from_sim` folder) `properyam.zip` (no_pert = np), `yamqc_lp.zip` (lo_pert = lp), `yamqc_hp.zip` (hi_pert=hp). 

**Note:** `qc` means correct Toomre q calculation.

## Comparison (matching)

Since the original (np) run was incomplete, we compare systems across the rounds of simulations (np,lp,hp) and match systems which are in all three rounds. These matching systems are left for later analysis, and the rest are discarded (but useful if analysis is perturbation-independent). We also check for a stability condition on disk mass. This produces `*_pert.csv` files. These are used in the `tools/postprocessing.ipynb` notebook, which is the next step in analysis.

- Total comparable systems: 1221

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
dfnp=pd.read_csv("final_np.csv")
dfnp.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199997,20000001.0,8.310655,0.0,2.538302,2.1002670447851663,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
1,0,199997,20000001.0,16.950289,0.0,1.254897,1.6609617588915819,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
2,0,199997,20000001.0,21.906004,0.0,0.892685,1.4829045355582708,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
3,0,199997,20000001.0,28.154620,0.0,0.545787,1.2588634898032260,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
4,0,199997,20000001.0,30.795764,0.0,0.428029,1.1609898887115120,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0

In [3]:
dflp=pd.read_csv("final_lp.csv")
dflp.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199996,20000001.0,0.062619,0.153949,5.181499,2.6373876497588316,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
1,0,199996,20000001.0,9.264290,0.000000,2.365437,2.0515107355230997,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
2,0,199996,20000001.0,24.468780,0.000000,0.705802,1.3713699190506510,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
3,0,199996,20000001.0,35.051390,0.000000,0.352469,1.0883202577546427,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
4,0,199996,20000001.0,38.588809,0.000000,0.189694,0.88532563779649975,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0

In [4]:
dfhp=pd.read_csv("final_hp.csv")
dfhp.head()

/home/ecci/miniconda3/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199997,20000001.0,0.062708,0.252346,5.155461,2.6159348107956948,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
1,0,199997,20000001.0,16.796458,0.000000,1.415680,1.7288645633986648,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
2,0,199997,20000001.0,20.815876,0.000000,0.995041,1.5374846471938246,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
3,0,199997,20000001.0,25.397079,0.000000,0.603044,1.3013791181400221,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
4,0,199997,20000001.0,28.715771,0.000000,0.409572,1.1440280457618968,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0

### Matching

In [5]:
badnp=dfnp.ident[np.isnan((dfnp['rplanet(i)/radtie']).astype(float))]
badlp=dflp.ident[np.isnan((dflp['rplanet(i)/radtie']).astype(float))]
badhp=dfhp.ident[np.isnan((dfhp['rplanet(i)/radtie']).astype(float))]

In [6]:
print(badnp.shape,badlp.shape,badhp.shape)

(12,) (20,) (16,)

In [7]:
inp=np.unique(dfnp.ident)
ilp=np.unique(dflp.ident)
ihp=np.unique(dfhp.ident)
print(len(inp),len(ilp),len(ihp))

1692 2946 2949

In [8]:
inpn=inp[~np.in1d(inp,badnp)]
ilpn=ilp[~np.in1d(ilp,badlp)]
ihpn=ihp[~np.in1d(ihp,badhp)]
print(len(inpn),len(ilpn),len(ihpn))

1680 2926 2933

In [9]:
inp1=inpn[np.in1d(inpn,ilpn)]
inp2=inp1[np.in1d(inp1,ihpn)]
print(len(inp2))

1652

In [10]:
fnp=np.in1d(dfnp.ident,inp2)

In [11]:
flp=np.in1d(dflp.ident,inp2)

In [12]:
fhp=np.in1d(dfhp.ident,inp2)

In [13]:
dfn=dfnp[fnp]
dfn.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199997,20000001.0,8.310655,0.0,2.538302,2.1002670447851663,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
1,0,199997,20000001.0,16.950289,0.0,1.254897,1.6609617588915819,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
2,0,199997,20000001.0,21.906004,0.0,0.892685,1.4829045355582708,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
3,0,199997,20000001.0,28.154620,0.0,0.545787,1.2588634898032260,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0
4,0,199997,20000001.0,30.795764,0.0,0.428029,1.1609898887115120,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.0,1.0,0.1,0.07707,9268935.0

In [14]:
dfl=dflp[flp]
dfl.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199996,20000001.0,0.062619,0.153949,5.181499,2.6373876497588316,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
1,0,199996,20000001.0,9.264290,0.000000,2.365437,2.0515107355230997,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
2,0,199996,20000001.0,24.468780,0.000000,0.705802,1.3713699190506510,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
3,0,199996,20000001.0,35.051390,0.000000,0.352469,1.0883202577546427,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0
4,0,199996,20000001.0,38.588809,0.000000,0.189694,0.88532563779649975,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.1,1.0,0.1,0.07707,9268935.0

In [15]:
dfh=dfhp[fhp]
dfh.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199997,20000001.0,0.062708,0.252346,5.155461,2.6159348107956948,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
1,0,199997,20000001.0,16.796458,0.000000,1.415680,1.7288645633986648,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
2,0,199997,20000001.0,20.815876,0.000000,0.995041,1.5374846471938246,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
3,0,199997,20000001.0,25.397079,0.000000,0.603044,1.3013791181400221,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0
4,0,199997,20000001.0,28.715771,0.000000,0.409572,1.1440280457618968,1.893981e+33,59.88237,1.051847,228.821929,0.58,1.0,0.3,1.0,0.1,0.07707,9268935.0

In [16]:
# stable disks from Miguel et al 2011 (between eq 5 and 6)
# disk mass has to be lower than 20% of stellar mass (not solar mass)
msun=2e33
dh=dfh[dfh.emed<0.2*dfh.emestar/msun]
dl=dfl[dfl.emed<0.2*dfl.emestar/msun]
dn=dfn[dfn.emed<0.2*dfn.emestar/msun]

In [27]:
(dh.emed/(dh.emestar/msun)).max()

0.19969466225819327

In [28]:
dh.emed.max()

0.27000000000000002

In [17]:
len(np.unique(dh.ident)) # number of comparable systems

1221

In [18]:
dn.to_csv('no_pert.csv')
dh.to_csv('hi_pert.csv')
dl.to_csv('lo_pert.csv')